<!DOCTYPE html>
<html>
    <head>
        <title>Enigma 6</title>
        <!-- template -->
        <script>sessionStorage.fase = 6;</script>
    </head>
    <body>
        <div id="enigma" style="padding-top: 50px; font-family: Arial; font-size: 20px;">
            C &nbsp - &nbsp B &nbsp =<br><br>
            H &nbsp + &nbsp D &nbsp =<br><br>
            B &nbsp * &nbsp G &nbsp =<br><br>
            Y &nbsp - &nbsp P &nbsp =<br><br>
            D &nbsp * &nbsp E &nbsp =<br><br>
            Z &nbsp / &nbsp Z &nbsp =<br><br>
            K &nbsp * &nbsp A &nbsp =<br><br>
        </div>
        <button onclick="sendAnswer();">Responder</button>
    </body>
</html>