<!DOCTYPE html>
<html>
    <head>
        <title>Ravtzn 13</title>
        <!-- template -->
        <script>sessionStorage.fase = 13;</script>
    </head>
    <body>
        <div id="enigma" style="padding-top: 200px; font-size: 40px;">
            <div>"...pnecr qvrz, dhnz zvavzhz perqhyn cbfgreb"</div>
            <div style="color: #f00; padding-top: 100px; font-family: Arial; font-size: 25px;">13</div>
        </div>
        <button onclick="sendAnswer();">Responder</button>
    </body>
</html>