<!DOCTYPE html>
<html>
    <head>
        <title>O Fim ?</title>
        <!-- template -->
    </head>
    <body>
        <div id="enigma">
            <p style="font-family: NanumPenScript; margin-right: 15%; margin-left: 15%; font-size: 30px;" align="left">
                Parabéns por ter chegado tão longe. Isso mostra que você talvez seja capaz de resolver
                a segunda parte do enigma. <br><br>

                Ah... você não sabia ? Você acabou de resolver apenas a primeira parte dele.
                Não pense que acabamos aqui porque jamais acabamos... <br><br>

                A segunda parte do enigma ainda está por vir. Até que tudo esteja pronto, prepare-se e
                adquira bastante conhecimento. Você vai precisar para o que está por vir. <br>
            </p>
            <p align="right" style="margin-right: 50px; font-family: NanumBrushScript;">
                Extreme002
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1Mcdh2Vf2Xk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>