        <!--
            ********************************************************************

            O QUE VOCÊ ESTÁ FAZENDO AQUI? ESTE LUGAR NÃO FAZ PARTE DO JOGO!

            ********************************************************************
        -->

        <meta name="author" content="Jean Loui Bernard Silva de Jesus"/>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="css/enigma_style.css"/>
        <script src="js/script.js"></script>
        <script>
            clearInterval(interval);
        </script>